.registration-container {
    font-family: 'Georgia', sans-serif;
}

.registration-card {
    padding: 115px;
}

.form-group {
    border-top: 200px;
    width: auto;
}

.text-box {
    width: 490px;
    margin: 15px;
    padding: 15px 15px;
}

* {
    text-align: center;
    font-size: 35px;

}

hr {
    height: .5px;
    color: black;
    border: 2px solid gray;
    width: 90%;
}