.navbar {
    position: -webkit-sticky;
    position: sticky;
    background-color: #746ae9;
    padding: 0px;
    margin-bottom: 30px;
    color: black;
}

.nav-link {
    color: black;
}

.logo {
    width: 350px;
}

.ml-auto:hover {
    color: black;
}