html {
    background-color: lightgray;
    font-size: 1.3rem;
}

.app-container {
    background-color: lightgray;
    color: black;
}

.btn.btn-primary {
    background-color: red;
}

.btn.btn-primary:hover {
    background-color: black;

}

.img {
    width: 300px;
}


* {
    -webkit-box-sizing: content-box !important;
}

.registration-card,
.mb-3,
.profile-view,
.top-elements,
.your-profile {
    justify-content: center;
    text-align: center;
    padding: 15px;
    padding-right: 45px;
}

.my-3,
.registration-card,
.registration-container,
.profile-view,
.top-elements,
.your-profile,
.profile-view {
    -webkit-box-sizing: border-box !important;
    padding-right: 45px;
}