html {
    background-color: lightgray;
    font-size: 1.3rem;
}

.app-container {
    background-color: lightgray;
    color: black;
}

.btn.btn-primary {
    background-color: red;
}

.btn.btn-primary:hover {
    background-color: black;

}

.img {
    width: 300px;
}

.registration-card,
.mb-3 {
    justify-content: center;
    text-align: center;
    padding: 15px;
}